<nav class="navbar navbar-expand-sm navbar-dark bg-primary fixed-top">
  <div class="container-fluid" style="height:45px">
    <a href="#" class="navbar-brand" style="font-size: 40px">SmartPark</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-link text-white" style="-webkit-text-stroke-width: 0.4px;"><button routerLink="/Add_Vehicle" class="button">Add Vehicle</button></li>
        <li class="nav-link text-white" style="-webkit-text-stroke-width: 0.4px;"><button routerLink="/Profile" class="button">Profile</button></li>
        <li class="nav-link text-white" style="-webkit-text-stroke-width: 0.4px;"><button routerLink="/WorkBench" class="button">About Us</button></li>
        <li class="nav-link text-white" style="-webkit-text-stroke-width: 0.4px;"><button (click) = "onLogout()" class="button">LogOut</button></li>
      </ul>
    </div>
  </div>
</nav>
