.button {
    padding: 7px 12px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: transparent;
    border: none;
    border-radius: 15px;
  }
  
  .button:hover {background-color: rgb(53, 155, 238)}
  
  .button:active {
    background-color: #1988c9;
    transform: translateY(1px);
  }